@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

/* #f3f3f3
rgba(27, 27, 50, 0.8)
#37af65 */

body{
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f3f3f3;
  position: relative;
}

body::after{
  position: absolute;
  content: '';
  background-color: rgba(17, 17, 37, 0.8);
}

.container{
  width: 60%;
  margin: 50px auto 0px auto;
}

form{
  background-color:rgba(44, 44, 77, 0.774);
  padding: 30px;
  border-radius: 5px;
}
.top{
  text-align: center;
  margin-bottom: 50px;
}
.top p{
  font-style: italic;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-group .input-group{
  height: 30px;
  margin-top: 5px;
  border-radius: 8px;
  padding: 0px 15px;
}

.form-group .selection-group{
  height: 30px;
  margin-top: 5px;
  border-radius: 8px;
  padding: 0px 15px;
}

.radio label{
  margin: 3px 0px;
}

.form-group input[type=radio]{
  height: 18px;
  width: 18px;
}

.checkbox input[type=checkbox]{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.form-group textarea{
  padding: 15px;
}

.form-group input[type=button]{
  height: 35px;
  font-size: 16px;
  background-color: #37af65;
  color: #fff;
}